.r-list-item {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 8px 0;
  margin: 0;
  list-style: none;

  &:not(:last-child) {
    border-bottom: 1px solid var(--semi-color-border); /* 或你想要的颜色和样式 */
  }

  &__title{
    margin-right: 10px;
  }

  &__main{
    flex: 1;
    text-align: right;

  }
}

