// 全局样式变量
$header-height: 64px; // 顶栏高度，需与 setting.ts 的 headerHeight 保持一致

$menu-dark-active-bg: #101117;
$menu-dark-title: #191a23;
$radius-dropdown_item: var(--semi-border-radius-medium);

/* spacing */
$spacing-tight: 8px; // 间距 - 紧凑尺寸内/外边距
